.register__container {
  width: 358px;
  padding: 60px 0 0;
}

@media screen and (max-width: 425px) {
  .register__container {
    padding: 40px 0 0;
    max-width: 358px;
    width: calc(100% - (30px * 2));
  }
}
