.form__input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  min-height: calc(12px * 2);
  margin: 5px 0 1px;
  color: #f00;
}

.form__input-error:last-of-type {
  margin:5px 0 calc(48px - (24px + 5px));
}

@media screen and (max-width: 425px) {
  .form__input-error:last-of-type {
    margin:5px 0 calc(45px - (24px + 5px));
  }
}
