.form__input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* Да в макете line-height указан 15px, однако в чек-листе есть требование
  что высота модального окна НЕ должна меняться при сообщении об ошибке в 1-2 строки,
  при этом по макету расстояние от между верхним и нижним инпутом 30px, отступ от инпута
  до сообщения об ошибке 5px, таким образом при line-height = 15px две строки будут иметь высоту 30px
  прибавив к этому 5px отмутпа от инпута получим 35px, что превышает расстояние от между верхним
  и нижним инпутом(30px), и из-за этого увеличится высота модального окна */
  min-height: calc(12px * 2);
  /* минимальная высота текста ошибки равна двум восотам строки,
  таким образом если текст ошибки занимает 1-2 строки высота модального окна
  небудет менятся, если 3+ строки то высота модального окна увеличится */
  margin: 5px 0 1px;
  /* С учетом марджинов и минимальной высота, итоговая высота блока с ошибками состави 5 + 12 * 2 + 1 = 30px */
  color: #f00;
}

.form__input-error:last-of-type {
  /* нижний отступ равен расстоянию от нижнего края инпута до верхнего края кнопки(48px)
   минус (минимальная высота текста ошибки + верхний отступ текста ошибки) */
  margin:5px 0 calc(48px - (24px + 5px));
}

@media screen and (max-width: 425px) {
  .form__input-error:last-of-type {
    margin:5px 0 calc(45px - (24px + 5px));
  }
}
