.cards__container {
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  width: calc(100% - (200px * 2));
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .cards__container {
    max-width: 642px;
    width: calc(100% - (50px * 2));
  }
}

@media screen and (max-width: 767px) {
  .cards__container {
    width: calc(100% - (19px * 2));
  }
}
