.popup__close {
  width: 32px;
  height: 32px;
  padding: 0;
  background: none;
  background-image: url('../../../images/popup-close.svg');
  background-size: contain;
  box-shadow: none;
  border: none;
  position: absolute;
  top: calc(-8px - 32px); /* расстоянгие от контейнера до крестика(8px) минус высота самого крестика(32px) */
  right: calc(-8px - 32px);
  transition: opacity .4s ease;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 547px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: calc(-16px - 20px);
    right: 0;
  }
}
